*{
    margin: 0px;
    padding: 0px;
}
.bg-img{
background-image: url("./dark-galaxy-in-universe-2ew15pvlfpmyfazp.jpg");
height: 550px;
width: 100%;   
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed; 
background-size: cover;
}
.bg-opacity{
    height: 550px;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}
.logo{
    height: 45px;
    width: 75px;
    border-radius: 30%;
}